<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.3">
	<name>Edit Plist file</name>
	<engines>
		<engine name="cordova" version=">=3.5.0" />
	</engines>
	<platform name="ios">
		<config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
			<string>Access to your location is required to deliver the app's core location-based feature</string>
		</config-file>
	</platform>
</plugin>
